altair==5.4.1
datasets==3.0.1
huggingface_hub==0.25.1
numpy==2.1.2
pandas==2.2.3
peft==0.13.0
PyYAML==6.0.2
scikit_learn==1.5.2
streamlit==1.39.0
tqdm==4.66.5
transformers==4.45.1
wandb==0.18.3
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1